/build
/vendor
/node_modules
npm-debug.log

/package-lock.json
/composer.phar
/composer.lock

# Text Editor Ignores
.idea
.phpintel

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# OS Cache
.DS_Store
Thumbs.db

phpunit.xml
.phpunit.result.cache
